<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Action</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
</head>
    <script>
        function clearForm() {
            document.getElementById('comments').value = '';
            document.getElementById('unit').selectedIndex = 0;
            document.getElementById('action_type').selectedIndex = 0;
            document.getElementById('sm_last_name').value = '';
            document.getElementById('assigned_tech_id').value = '';
            document.getElementById('action_status').selectedIndex = 0;

        }
    </script>
<body>
    <h1 class="title">Create</h1>
     <form class="create_form" action="/create_action" method="post" name="Create_Action" id="Create_Action" enctype="multipart/form-data">
        <h2 class="form_title">Create Action</h2>
        <label for="unit">Unit:</label>
        <select name="unit" id="unit" required>
            <option value="">-Choose a unit-</option>
            <option value="395">395</option>
            <option value="420">420</option>
            <option value="889">889</option>
            <option value="378">378</option>
        </select>
        <label for="action_type">Action Type:</label>
        <select name="action_type" id="action_type" required>
            <option value="">-Choose a action type-</option>
            <option value="Admin">Admin</option>
            <option value="Finance">Finance</option>
            <option value="iPERMS">iPERMS</option>
            <option value="UNSAT">UNSAT</option>
        </select>
        <label for="sm_last_name">SM Last Name:</label>
        <input type="text" id="sm_last_name" name="sm_last_name" required>
        <br></br>
        <br></br>
        <label for="files" class="file_input"></label>
        <input type="file" id="files" name="files" multiple>
        <br></br>
        <br></br>
        <textarea id="comments" name="comments" rows="4" cols="50" placeholder="Enter Comments..." required></textarea>
        <br></br>
        <div class="styled_buttons">
            <input type="submit" value="Create" name="Create_Action">
            <button type="button" onclick="clearForm()">Cancel</button>
            <button onclick="goBack()">Go Back</button>
        </div>
        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </form>
</body>
</html>