<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/employee_home.css') }}">
</head>
<body>
    <h1>Home</h1>
        
            
                <h2>WELCOME {{ user }}</h2>
            
    
            <table class="assigned_actions_table" id="assigned_actions_table" cellspacing="1" border="1">
                <caption>Your Assigned Actions</caption>
                <thread>
                <tr>
                    <th>Unit</th>
                    <th>Action Type</th>
                    <th>SM's Last Name</th>
                    <th>Assinged Tech</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Edit</th>
                </tr>
                <tbody>
                {% for action in assigned_actions %}
                <tr>
                    <td>{{ action[1] }} </td>
                    <td>{{ action[2] }} </td>
                    <td>{{ action[3] }} </td>
                    <td>{{ action[4] }} </td>
                    <td>{{ action[5] }} </td>
                    <td>{{ action[6] }} </td>
                    <td><a href=/edit_action/{{action[0]}}>Edit</a></td>
                </tr>
                {% endfor %}
            </table>
               
    <br></br>
    <br></br>
            <table class="avail_actions_table" id="avail_actions_table" cellspacing="1" border="1">
                <caption>Unassigned Actions</caption>
                <thread>
                <tr>
                    <th>Unit</th>
                    <th>Action Type</th>
                    <th>SM's Last Name</th>
                    <th>Assinged Tech</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Assign To Yourself</th>
                </tr>
                <tbody>
                {% for action in unassigned_actions %}
                <tr>
                    <td>{{ action[1] }} </td>
                    <td>{{ action[2] }} </td>
                    <td>{{ action[3] }} </td>
                    <td>{{ action[4] }} </td>
                    <td>{{ action[5] }} </td>
                    <td>{{ action[6] }} </td>
                    <td>
                        <form action="/assign_action/{{ tech_id  }}/{{ action[0] }}" method="post">
                        <button name="assign" value="assign">Assign</button>
                        </form> 
                    </td>
                </tr>
                {% endfor %}
            </table>
            

</body>
</html>